{% extends "templates/layout.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container col-md-9 div-principal">
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <div class="well well-sm sombra" id="well_extrato">
                    {% if hasConta() is not empty and extrato is not empty %}
                        {% include 'extrato/_table_extrato.html.twig' %}
                    {% else %}
                        {% include 'extrato/_table_sem_extrato.html.twig' %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}