{% extends "templates/layout.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container col-md-9" id="div-principal-home">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm sombra">
                <p>{{ data }}</p>
            </div>
        </div>    
    </div>
</div>

<style>
    #div-principal-home {
        margin-top: 5%;
        margin-left: 23.6%;
    }
</style>
{% endblock %}