{% extends "templates/layout.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container col-md-9" id="div-principal-home">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm sombra">
                <p>{{ data }}</p>

                {% if contas is not empty and hasConta() is empty %}
                {% include 'home/_table_contas.html.twig' %}
                {% elseif contas is not empty and hasConta() is not empty and pgtos is empty %}
                {% include 'home/_table_sem_pagamentos_agendados.html.twig' %}
                
                {% elseif contas is not empty and hasConta() is not empty and pgtos is not empty %}
                {% include 'home/_table_pagamentos_agendados.html.twig' %}
                    <input type="hidden" name="_has_conta" id="_has_conta" value="{{ hasConta() }}" />
                    <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />
                {% endif %}
                
            </div>
        </div>    
    </div>
</div>

<style>
    #div-principal-home {
        margin-top: 3.6%;
        margin-left: 23.6%;
    }
</style>
{% endblock %}