{% extends "templates/layout.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container col-md-9" id="div-principal-home">
    <div class="col-md-12">
        <h2>Página Home<h2>
    </div>
</div>

<style>
    #div-principal-home {
        margin-top: 3%;
        margin-left: 22.5%;
        border: 1px solid black;
        width: 77.5%;
    }
</style>
{% endblock %}