@charset "utf-8";

html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: #DFE2E6;
}

.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}
  

/* MENU LATERAL */
.nav-side-menu {
    margin-top: 3.7%;
    margin-left: -15px;
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}
.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}
.nav-side-menu .toggle-btn {
    display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
    background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
    text-decoration: none;
    color: #e1ffff;
}
.nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.nav-side-menu li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
@media (max-width: 767px) {
.nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
}
.brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
}
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}


.solid {
    border: 1px solid black;
}

.tam-fonte {
    font-size: 13.3px;
}

.fonte_despesa {
    color: red;
    font-size: 12px !important; 
}
.fonte_receita {
    color: blue;
    font-size: 12px;
    font-weight: bold;
}
.fonte_data {
    color: grey;
    font-size: 12.5px;
    font-weight: bold;
}
.fonte_despesa_fixa {
    color: grey !important;
    font-size: 12px !important;
}

.sombra { 
    box-shadow: 6px 6px 6px 6px black;
    -webkit-box-shadow: 6px 6px 6px black;
    -moz-box-shadow: 6px 6px 6px black;
}

select option:checked {
    color: black;
}

.disabled {
    pointer-events: none; 
    opacity: 0.6;         
}

/* FORMULÁRIO DE LOGIN */
#formLogin {
    height: 170px;
}
#div-principal-login {
    margin-top: 9%;
}
#div-error-login {
    display: none;
}
#span-error-login {
    padding: 5px;
    width: 340px;
    position: absolute;
}
.msgError {
    color: red;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}


/* FORMULÁRIO CADASTRO NOVO USUÁRIO */
#formRegister {
    height: 170px;
}
#div-principal-register {
    margin-top: 9%;
}
#div-error-login, #div-success-cadastro-usuario {
    display: none;
}
#span-error-login {
    padding: 5px;
    width: 340px;
    position: absolute;
}
#span-success-cadastro-user {
    padding: 7.5px;
    width: 220px;
    position: absolute;
}
.msgError {
    color: red;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.msgSuccess {
    color: green;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.white {
    background-color: white;
}
#div-success-cadastro-usuario {
    float: left;
    position: relative;
}
#div-botao-cadastro-usuario {
    float: left;
    position: relative;
}


/* FORMULÁRIO CADASTRO CONTA */
#div-principal-conta {
    margin-top: 5%;
    margin-left: 16%;
    width: 83%;
}
#formCadConta {
    height: 310px;
}
#div-msg-cadastro-conta {
    display: none;
}
#div-msg-cadastro-conta {
    float: left;
    position: relative;
}
#span-success-cadastro-conta {
    padding: 7.5px;
    width: 220px;
    position: absolute;
}


/* PÁGINA TODOS OS BANCOS */
#div-principal-all-bancos {
    margin-left: 23.5%;
    margin-top: 4%;
}


/* FORMULÁRIO CADASTRO BANCO */
#div-principal-banco {
    margin-top: 5%;
    margin-left: 16%;
    width: 83%;
}

#formCadBanco {
    height: 240px;
}
#div-msg-cadastro-banco {
    display: none;
}

#div-msg-cadastro-banco {
    float: left;
    position: relative;
}
#span-success-cadastro-banco {
    padding: 7.5px;
    width: 220px;
    position: absolute;
}


#table_contas th {
    text-align: center;
    background-color: #CDCDC1;
}
#table_contas th {
    border: 1px solid white !important;
}
#table_contas th:nth-child(1) {
    width: 10% !important;
}
#table_contas th:nth-child(2) {
    width: 12% !important;
}
#table_contas th:nth-child(3) {
    width: 12% !important;
}
#table_contas th:nth-child(4) {
    width: 18% !important;
}
#table_contas th:nth-child(5) {
    width: 18% !important;
}
#table_contas th:nth-child(6) {
    width: 30% !important;
}

#table_contas tbody tr {
    text-align: center;
}


/* FOMULÁRIO DEBITAR VALOR CONTA */
#formCadDebito {
    height: 240px;
}
#well_debito {
    width: 102%;
}
#div-msg-cadastro-debito {
    display: none;
}
#div-msg-cadastro-debito {
    float: left;
    position: relative;
}
#span-success-cadastro-debito {
    padding: 7.5px;
    width: 260px;
    position: absolute;
}

/* FOMULÁRIO CREDITAR VALOR CONTA */
#formCadCredito {
    height: 240px;
}
#well_credito {
    width: 102%;
}
#div-msg-cadastro-credito {
    display: none;
}
#div-msg-cadastro-credito {
    float: left;
    position: relative;
}
#span-success-cadastro-credito {
    padding: 7.5px;
    width: 260px;
    position: absolute;
}


/* EXTRATO */
#well_extrato {
    width: 102%;
}

/* FOMULÁRIO AGENDAMENTO DE PAGAMENTOS */
#div-principal-agd-pgto {
    margin-top: 5%;
    margin-left: 15.8%;
    width: 83%;
}
#formCadAgendamentoPagamento {
    height: 240px;
}
#div-msg-cadastro-agd-pgto {
    display: none;
}
#div-msg-cadastro-agd-pgto {
    float: left;
    position: relative;
}
#span-success-cadastro-agd-pgto {
    padding: 7.5px;
    width: 260px;
    position: absolute;
}

#table_pgto_agendado th {
    text-align: center;
    background-color: #CDCDC1;
}
#table_pgto_agendado th {
    border: 1px solid white !important;
}
#table_pgto_agendado th:nth-child(1) {
    width: 25% !important;
}
#table_pgto_agendado th:nth-child(2) {
    width: 10% !important;
}
#table_pgto_agendado th:nth-child(3) {
    width: 10% !important;
}
#table_pgto_agendado th:nth-child(4) {
    width: 10% !important;
}
#table_pgto_agendado tbody tr {
    text-align: center;
}

#cab_table {
    border: 1px solid white !important;
    text-align: center;
    background-color: #CDCDC1;
    font-weight: bold;
    font-size: 15px;
}

.td_color_pgto {
    color: red;

}
.td_color_pgto_sim {
    color: blue;
}
.cor_preta {
    font-weight: bold;
    color: black;
    font-size: 14px !important;
}
#table_pgto_agendado tfoot {
    background-color: #E9B65C;
    font-weight: bold;
}

@media screen and (max-width: 1440px) {
    .div-principal {
        margin-top: 4.5%;
        margin-left: 14.8%;
        width: 83%;
    }

    /* FORMULÁRIO CADASTRO DE DESPESAS DE CARTÃO DE CRÉDITO */
    #well_desp_cartao {
        height: 270px;
    }
    #div-principal-form-desp-cartao {
        margin-top: 5%;
        margin-left: 23%;
    }
    #span-success-desp-cartao-credito {
        padding: 7.5px;
        width: 240px;
        position: absolute;
    }
}

@media screen and (max-width: 1366px) {
    .div-principal {
        margin-top: 3%;
        margin-left: 15.4%;
    }
    .div-principal-form {
        margin-top: 5%;
        margin-left: 20%;
    }

    /* TABELA DE EXTRATO*/
    .th {
        text-align: center !important;
        background-color: #CDCDC1 !important;
        border: 1px solid white !important;
    }
    #well_extrato {
        width: 102%;
    }
    #table_extrato th:nth-child(1) {
        width: 8% !important;
    }
    #table_extrato th:nth-child(2) {
        width: 22% !important;
    }
    #table_extrato th:nth-child(3) {
        width: 18% !important;
    }
    #table_extrato th:nth-child(4) {
        width: 8% !important;
    }
    #table_extrato th:nth-child(5) {
        width: 8% !important;
    }
    .td {
        text-align: center;
        padding: 3px !important;
    }
    #table_extrato tbody td:nth-child(2) {
        width: 20% !important;
        text-align: left !important;
    }

    /* FORMULÁRIO CADASTRO DE BANDEIRA CARTÃO */
    #div-principal-form-cad-bandeira {
        margin-top: 5%;
        margin-left: 17.5%;
    }
    #span-msg-cadastro-bandeira {
        padding: 7.5px;
        width: 240px;
        position: absolute;
    }
    #div_but_ban {
        width: 183px;
    }


    /* FORMULÁRIO CADASTRO DE CARTÃO DE CRÉDITO */
    #well_cartao {
        height: 280px;
    }
    #div-principal-form-cad-cartao {
        margin-top: 5%;
        margin-left: 23.5%;
    }
    #span-msg-cadastro-cartao {
        padding: 7.5px;
        width: 240px;
        position: absolute;
    }


    /* FORMULÁRIO CADASTRO DE DESPESAS DE CARTÃO DE CRÉDITO */
    #well_desp_cartao {
        height: 270px;
    }
    #div-principal-form-desp-cartao {
        margin-top: 5%;
        margin-left: 23.5%;
    }
    #span-success-desp-cartao-credito {
        padding: 7.5px;
        width: 240px;
        position: absolute;
    }


    /* FORMULÁRIO GERAÇÃO DE FATURA DO CARTÃO DE CRÉDITO */
    #well_fatura_cartao {
        height: 230px;
    }
    #div-principal-form-fatura-cartao {
        margin-top: 5%;
        margin-left: 33%;
    }
    #span-success-desp-fatura-cartao-credito {
        padding: 7.5px;
        width: 240px;
        margin-left: -63%;
        position: absolute;
    }

    /* FORMULÁRIO PAGAR FATURA DO CARTÃO DE CRÉDITO */
    #well_fatura_pagar_cartao {
        height: 200px;
    }
    #div-principal-form-pagar-fatura-cartao {
        margin-top: 5%;
        margin-left: 33%;
    }
    #span-success-pagar-fatura-cartao-credito {
        padding: 7.5px;
        width: 240px;
        margin-left: -63%;
        position: absolute;
    }

    /* FORMULÁRIO FECHAR FATURA DO CARTÃO DE CRÉDITO */
    #well_fechar_fatura_cartao {
        height: 535px;
    }
    #div-principal-form-fechar-fatura-cartao {
        margin-top: 3%;
        margin-left: 23.5%;
    }
    #span-success-quitar-fatura-cartao-credito {
        padding: 7.5px;
        width: 300px;
        margin-left: 10%;
        position: absolute;
    }
    #div-msg-quitar-fatura-cartao-credito {
        display: none;
    }
    .alinha_td_centro, .alinha_th_centro {
        text-align: center;
    }
    .muda_label {
        font-size: 12px;
    }
    #table_lista_itens_fatura > tbody > tr > td {
        font-size: 12px;
        padding: 2px;
    }
    #table_lista_itens_fatura > tfoot > tr > td{
        font-size: 12px;
        padding: 2px;
    }
    #table_lista_itens_fatura {
        margin-left: auto;
    }
    .destaque{
        background:#FFFF99 !important;
        color:#FF0000 !important;
    }
    .tamanho_fonte {
        font-size: 12px;
        font-weight: bold;
    }
    .input_sm {
        padding-right:0 !important;
        padding-left:0 !important;
    }
    .input_sm {
        height: 25px !important;
        padding: 5px 10px !important;
        font-size: 12px !important;
        line-height: 1.5 !important;
        border-radius: 3px !important;
    }
    .div_table_pagar_fatura {
        height: 55px;
    }


    /* PÁGINA ERRO 404 */
    #well_erro_404 {
        height: 100px;
    }
    #div_principal_erro_404 {
        margin-top: 5%;
        margin-left: 23.5%;
    }
    .fontes {
        font-family: DejaVu Sans Mono, monospace;
        font-weight: bold;
        font-size: 22px !important;
    }
}

