@charset "utf-8";

html, body {
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: #DFE2E6;
}

.solid {
    border: 1px solid black;
}

.tam-fonte {
    font-size: 13.3px;
}

.sombra { 
    box-shadow: 6px 6px 6px 6px black;
    -webkit-box-shadow: 6px 6px 6px black;
    -moz-box-shadow: 6px 6px 6px black;
}

select option:checked {
    color: black;
}

.disabled {
    pointer-events: none; 
    opacity: 0.6;         
}

/* FORMULÁRIO DE LOGIN */
#formLogin {
    height: 170px;
}
#div-principal-login {
    margin-top: 9%;
}
#div-error-login {
    display: none;
}
#span-error-login {
    padding: 5px;
    width: 340px;
    position: absolute;
}
.msgError {
    color: red;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}


/* FORMULÁRIO CADASTRO NOVO USUÁRIO */
#formRegister {
    height: 170px;
}
#div-principal-register {
    margin-top: 9%;
}
#div-error-login, #div-success-cadastro-usuario {
    display: none;
}
#span-error-login {
    padding: 5px;
    width: 340px;
    position: absolute;
}
#span-success-cadastro-user {
    padding: 7.5px;
    width: 220px;
    position: absolute;
}
.msgError {
    color: red;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.msgSuccess {
    color: green;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
}
.white {
    background-color: white;
}
#div-success-cadastro-usuario {
    float: left;
    position: relative;
}
#div-botao-cadastro-usuario {
    float: left;
    position: relative;
}


/* FORMULÁRIO CADASTRO CONTA */
#div-principal-conta {
    margin-top: 5%;
    margin-left: 16%;
    width: 83%;
}
#formCadConta {
    height: 310px;
}
#div-msg-cadastro-conta {
    display: none;
}
#div-msg-cadastro-conta {
    float: left;
    position: relative;
}
#span-success-cadastro-conta {
    padding: 7.5px;
    width: 220px;
    position: absolute;
}


/* PÁGINA TODOS OS BANCOS */
#div-principal-all-bancos {
    margin-left: 23.5%;
    margin-top: 4%;
}


/* FORMULÁRIO CADASTRO BANCO */
#div-principal-banco {
    margin-top: 5%;
    margin-left: 16%;
    width: 83%;
}

#formCadBanco {
    height: 240px;
}
#div-msg-cadastro-banco {
    display: none;
}

#div-msg-cadastro-banco {
    float: left;
    position: relative;
}
#span-success-cadastro-banco {
    padding: 7.5px;
    width: 220px;
    position: absolute;
}


#table_contas th {
    text-align: center;
    background-color: #CDCDC1;
}
#table_contas th {
    border: 1px solid white !important;
}
#table_contas th:nth-child(1) {
    width: 10% !important;
}
#table_contas th:nth-child(2) {
    width: 12% !important;
}
#table_contas th:nth-child(3) {
    width: 12% !important;
}
#table_contas th:nth-child(4) {
    width: 18% !important;
}
#table_contas th:nth-child(5) {
    width: 18% !important;
}
#table_contas th:nth-child(6) {
    width: 30% !important;
}

#table_contas tbody tr {
    text-align: center;
}


/* FOMMULÁRIO AGENDAMENTO DE PAGAMENTOS */
#div-principal-agd-pgto {
    margin-top: 5%;
    margin-left: 15.8%;
    width: 83%;
}
#formCadAgendamentoPagamento {
    height: 240px;
}
#div-msg-cadastro-agd-pgto {
    display: none;
}
#div-msg-cadastro-agd-pgto {
    float: left;
    position: relative;
}
#span-success-cadastro-agd-pgto {
    padding: 7.5px;
    width: 260px;
    position: absolute;
}

#table_pgto_agendado th {
    text-align: center;
    background-color: #CDCDC1;
}
#table_pgto_agendado th {
    border: 1px solid white !important;
}
#table_pgto_agendado th:nth-child(1) {
    width: 25% !important;
}
#table_pgto_agendado th:nth-child(2) {
    width: 10% !important;
}
#table_pgto_agendado th:nth-child(3) {
    width: 10% !important;
}
#table_pgto_agendado th:nth-child(4) {
    width: 10% !important;
}
#table_pgto_agendado tbody tr {
    text-align: center;
}

#cab_table {
    border: 1px solid white !important;
    text-align: center;
    background-color: #CDCDC1;
    font-weight: bold;
    font-size: 15px;
}

.td_color_pgto {
    color: red;

}
.td_color_pgto_sim {
    color: blue;
}
.cor_preta {
    font-weight: bold;
    color: black;
    font-size: 14px !important;
}
#table_pgto_agendado tfoot {
    background-color: #E9B65C;
    font-weight: bold;
}