{% extends "templates/layout.html.twig" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="container col-md-9" id="div-principal-conta">
    <div class="row">
        <div class="col-md-7 col-md-offset-3">
            <div class="well well-sm sombra">
            <form class="form-horizontal" role="form" action="{{ base_url() }}/banco/create" method="post" id="formCadBanco">
            <fieldset>
                <legend class="text-center">Cadastro de Banco</legend>
        
                <div class="form-group">
                    <label class="col-md-3 control-label" for="cod_banco">Código do Banco</label>
                    <div class="col-md-8">
                        <input id="cod_banco" name="cod_banco" type="text" placeholder="Código do Banco" class="form-control white remove-color-input-cbanco" disabled="disabled">
                    </div>
                </div>
        
                <div class="form-group">
                    <label class="col-md-3 control-label" for="nome_banco">Nome do Banco</label>
                    <div class="col-md-8">
                        <input id="nome_banco" name="nome_banco" type="text" placeholder="Nome do Banco" class="form-control white remove-color-input-nbanco" disabled="disabled">
                        <input type="hidden" name="_csrf_token" id="_csrf_token" value="{{ csrf_token() }}" />   
                        <input type="hidden" name="_has_conta" id="_has_conta" value="{{ hasConta() }}" />
                    </div>
                </div>
        
                <!-- Form actions -->
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3 text-left">
                        <button type="button" class="btn btn-primary btn-md" id="btn-nov-bnc">Novo</button>
                        <button type="submit" class="btn btn-primary btn-md" id="btn-cad-bnc" disabled>Cadastrar</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4" id="div-msg-cadastro-banco"></div>
                </div>

            </fieldset>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}